<div class="node-inspector">
  <div class="properties-group">Transformation mode</div>
  <div>{{ currentMode }}</div>
  <br>
  <div class="main-title"><span class="big">{{ node.id }}</span></div>
  <numeric-value name="hypothenus" [value]="node.hypothenus"></numeric-value>
  <div class="properties-group">Rotation</div>
  <numeric-value name="own" [value]="node.initRotation"></numeric-value>
  <numeric-value name="relative" [value]="node.relativeRotation"></numeric-value>
  <numeric-value name="absolute" [value]="node.absoluteRotation"></numeric-value>
  <div class="properties-group">Relative position</div>
  <numeric-value name="X" [value]="node.relativePosition.x"></numeric-value>
  <numeric-value name="Y" [value]="node.relativePosition.y"></numeric-value>
  <div class="properties-group">Absolute position</div>
  <numeric-value name="X" [value]="node.absolutePosition.x"></numeric-value>
  <numeric-value name="Y" [value]="node.absolutePosition.y"></numeric-value>
  <div class="properties-group">Own position</div>
  <numeric-value name="X" [value]="node.ownPosition.x"></numeric-value>
  <numeric-value name="Y" [value]="node.ownPosition.y"></numeric-value>
  <br>
  <boolean-value
    did="names"
    name="Display names"
    [value]="inspectionService.namesAreDisplayed"
    (changeValue)="toggleNamesVisiblity($event)"
  ></boolean-value>
</div>