<div class="node-inspector">
  <div class="properties-group">Transformation mode</div>
  <div>{{ currentMode }}</div>
  <div class="main-title"><span class="big">{{ node.id }}</span></div>
  <div class="properties-group">Rotation</div>
  <numeric-value name="relative" [value]="node.relativeRotation | toDegrees"></numeric-value>
  <numeric-value name="absolute" [value]="node.absoluteRotation | toDegrees"></numeric-value>
  <div class="properties-group">Relative position</div>
  <numeric-value name="X" [value]="node.relativePosition.x"></numeric-value>
  <numeric-value name="Y" [value]="node.relativePosition.y"></numeric-value>
  <div class="properties-group">Absolute position</div>
  <numeric-value name="X" [value]="node.absolutePosition.x"></numeric-value>
  <numeric-value name="Y" [value]="node.absolutePosition.y"></numeric-value>
</div>