<div [class.highlighted]="highlighted">
  <div class="args-displayer" *ngIf="hasArgs()">
    <i class="fas fa-ellipsis-h"></i>
  </div>
  <span class="deletion right"
    *ngIf="parentItem.editionMode && type === 'right'"
    (click)="deleteAnchor($event)"
  ><i class="fa fa-minus"></i></span>
  <span class="anchor-label">{{ getLabel() }}</span>
  <span class="deletion left"
    *ngIf="parentItem.editionMode && type === 'left'"
    (click)="deleteAnchor($event)"
  ><i class="fa fa-minus"></i></span>
  <div
    #banchor
    (mousedown)="onAnchorClicked()"
    (mouseup)="onMouseUp()"
    (mouseover)="onOver()"
    (mouseout)="onOut()"
    class="base-anchor {{ type }}"
    [class.with-args]="hasArgs()"
  ></div>
</div>
