.base-anchor {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: red;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);

  &:hover {
    width: 12px;
    height: 12px;
  }
}