.base-anchor {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: red;
  top: 16px;
  position: absolute;

  &.left {
    transform: translate(-50%, -50%);
    left: 0;
  }

  &.right {
    transform: translate(50%, -50%);
    right: 0;
  }

  &:hover {
    width: 12px;
    height: 12px;
  }
}

.deletion {
  cursor: pointer;

  &:hover {
    font-weight: bold;
  }

  &.right {
    margin-right: 6px;
  }

  &.left {
    margin-left: 7px;
  }
}

.anchor-label {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.highlighted {
  .anchor-label {
    color: black;
    background-color: white;
  }
}