<div [class.highlighted]="highlighted">
  <span class="deletion right" *ngIf="parentItem.editionMode && type === 'right'" (click)="deleteAnchor($event)"><i class="fa fa-minus"></i></span>
  <span class="anchor-label">{{ data.label }}</span>
  <span class="deletion left" *ngIf="parentItem.editionMode && type === 'left'" (click)="deleteAnchor($event)"><i class="fa fa-minus"></i></span>
  <div
    #banchor
    (mousedown)="onAnchorClicked()"
    (mouseup)="onMouseUp()"
    (mouseover)="onOver()"
    (mouseout)="onOut()"
    class="base-anchor {{ type }}"
  ></div>
</div>
