.transition {
  display: inline-block;
  border-radius: 5px;
  padding: 4px;
  margin-right: 8px;
  width: 130px;
  text-align: center;
  vertical-align: top;
  background-color: lightgoldenrodyellow;
  border: 1px solid yellowgreen;
}

input {
  margin-top: 5px;

  &[type=number] {
    width: 100%;
  }
}

select {
  width: 100%;
}