<div class="item {{ data.type }}" #item>
  <div class="tools">
      <div #triggerElement id="drag-anchor-{{ pos }}" class="drag-anchor tool">
        <i class="fas fa-arrows-alt"></i>
      </div>
      <div class="tool deletion" (click)="tryDeleteItem()">
        <i class="fa fa-trash-alt"></i>
      </div>
  </div>

  <div class="item-type">Transition</div>
  <div class="content">

    <div class="column left-column">
      <div class="command" *ngFor="let anchor of inAnchors">{{ anchor.label }}
        <graph-anchor
          #anchorElem
          [id]="anchor.id"
        ></graph-anchor>
      </div>
    </div>

    <div class="column right-column">
      <div class="command" *ngFor="let anchor of outAnchors">{{ anchor.label }}
        <graph-anchor
          #anchorElem
          [id]="anchor.id"
        ></graph-anchor>
      </div>
    </div>
    
  </div>
</div>