.item {
  background-color: blueviolet;
  border: 1px solid black;
  width: 100px;
  height: 100px;
  position: absolute;
  border-radius: 17px;
}

.drag-anchor {
  position: absolute;
  left: 8px;
  top: 0px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: 22px;
}