.item {
  background-color: blueviolet;
  border: 1px solid black;
  width: 100px;
  height: 100px;
  position: absolute;
  border-radius: 17px;
}

.drag-anchor {
    position: absolute;
    left: 6px;
    top: 4px;
    cursor: pointer;
    color: white;
    font-size: 15px;
    opacity: 0.8;
}