.item {
  background-color: blueviolet;
  border: 1px solid black;
  width: 100px;
  height: 100px;
  position: absolute;
}

.base-anchor {
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background-color: red;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
}