<div class="item" #item>
  <div #triggerElement id="drag-anchor-{{ pos }}" class="drag-anchor">
    <i class="fas fa-arrows-alt"></i>
  </div>

  <div class="item-type">Transition</div>
  <div class="content">
    <div class="column left-column">
      <div class="command">Play
        <graph-anchor
          #anchorElem
          id="in1"
        ></graph-anchor>
      </div>
      <div class="command">Stop
        <graph-anchor
          #anchorElem
          id="in2"
        ></graph-anchor>
      </div>
      <div class="command">Reset the animation
        <graph-anchor
          #anchorElem
          id="in3"
        ></graph-anchor>
      </div>
    </div>
    <div class="column right-column">
      <div class="command">On start
        <graph-anchor
          #anchorElem
          id="out1"
        ></graph-anchor>
      </div>
      <div class="command">On complete
        <graph-anchor
          id="out2"
          #anchorElem
        ></graph-anchor>
      </div>
    </div>
  </div>

  <!-- <graph-anchor
    #anchorElem
    *ngFor="let anchor of anchors"
    [position]="anchor"
  ></graph-anchor> -->
</div>