<router-outlet></router-outlet>
<div #canvasContainer></div>
<div class="rub">Nodes : </div>
<div *ngFor="let node of nodes" [class.selected]="node === selectedContainer">
    <span class="item-displayer" (click)="selectNode(node)">
        <b>{{ node.id }} : </b>x: {{ node.xPos }}, y: {{ node.yPos }}, rotation: {{ node.rotation | toDegrees }}
    </span>
</div>
<div class="rub">Sprites : </div>
<div *ngFor="let sprite of sprites" [class.selected]="sprite === selectedContainer">
    <span class="item-displayer" (click)="selectNode(sprite)">
        <b>{{ sprite.id }} : </b>
        x: {{ sprite.xPos }},
        y: {{ sprite.yPos }},
        rotation: {{ sprite.rotation | toDegrees }},
        in: {{ sprite.parentContainer.id }}
    </span>
</div>
<app-node-editor [nodeContainer]="selectedContainer" *ngIf="selectedContainer"></app-node-editor>