<router-outlet></router-outlet>
<!--<input type="button" value="Test tween" (click)="testTween()">-->

<div class="rub">Nodes : </div>
<div *ngFor="let node of nodes">
    <b>{{ node.id }} : </b>x: {{ node.xPos }}, y: {{ node.yPos }}, rotation: {{ node.rotation }}
</div>
<div class="rub">Sprites : </div>
<div *ngFor="let sprite of sprites">
    <b>{{ sprite.id }} : </b>x: {{ sprite.xPos }}, y: {{ sprite.yPos}}, rotation: {{ sprite.rotation }}, in: {{ sprite.parentContainer.id }}
</div>
<div #canvasContainer></div>

<!--<input type="checkbox" [(ngModel)]="gridVisibility">-->