.input-container {
  
  input[type=text], textarea {
    width: 200px;
  }

  .block-label {
    margin-top: 6px;
    margin-bottom: 3px;
    font-weight: bold;
  }

  input[type=button] {
    margin-top: 6px;
  }

  .actions {
    input {
      margin: 4px;
    }
  }
}