<div class="input-container">
  <div class="modal-content">
    <div>
      <div class="block-label">Name:</div>
      <input #firstElement [(ngModel)]="data.name" type="text">
    </div>
    <div>
      <div class="block-label">Description:</div>
      <textarea [(ngModel)]="data.description" rows="6"></textarea>
    </div>
    <div class="actions">
      <input type="button" value="Validate" (click)="validateDetails()">
      <input type="button" value="Close" (click)="close()">
    </div>
  </div>
</div>