<div class="canvas-container {{ currentTransformationMode }}" #canvasContainer>
  <div class="tools">
    <div class="top-left-panel panel">
      <div class="selectors">
        <select *ngIf="structuresIds" [(ngModel)]="selectedStructureId">
          <option *ngFor="let id of structuresIds" value="{{ id }}">{{ id }}</option>
        </select>
        <select *ngIf="selectedStructure" [(ngModel)]="selectedNodeId">
          <option *ngFor="let node of selectedStructure.nodesList" value="{{ node.id }}">{{ node.id }}</option>
        </select>
      </div>
    </div>
    <div class="top-right-panel panel">
      <div class="action-buttons">
        <div class="action-button"
          [class.selected]="currentTransformationMode === 'rotation'"
          (click)="selectMode('rotation')">R</div>
        <div class="action-button"
          [class.selected]="currentTransformationMode === 'translation'"
          (click)="selectMode('translation')">T</div>
        <div class="action-button"
          [class.selected]="currentTransformationMode === 'scale'"
          (click)="selectMode('scale')">S</div>
      </div>
    </div>
  </div>
</div>
<app-inspection-panel *ngIf="selectedNode" [currentMode]="currentTransformationMode" [node]="selectedNode"></app-inspection-panel>
<div class="actions">
  <input type="button" value="Create state" (click)="createState()">
  <input type="button" value="Clear all states" (click)="clearAllStates()">
  <input type="button" value="Save states" (click)="saveStates()">
</div>
<div class="states-container">
  <state-display
    *ngFor="let state of statesService.items"
    [state]="state"
    (onSetPosition)="setPosition($event)"
    ></state-display>
  <state-display
    *ngFor="let diff of diffsService.items"
    type="diff"
    [state]="diff"
    (onSetPosition)="setPosition($event)"
    ></state-display>
  <transition-display
    *ngFor="let transition of transitionsService.items"
    [transition]="transition"
    ></transition-display>
</div>
