<div class="canvas-container" #canvasContainer>
  <div class="tools">
    <div class="top-left-panel panel">
      <div class="selectors">
        <select *ngIf="structuresIds" [(ngModel)]="selectedStructureId">
          <option *ngFor="let id of structuresIds" value="{{ id }}">{{ id }}</option>
        </select>
        <select *ngIf="selectedStructure" [(ngModel)]="selectedNodeId">
          <option *ngFor="let node of selectedStructure.nodesList" value="{{ node.id }}">{{ node.id }}</option>
        </select>
      </div>
      <div class="detail" *ngIf="selectedNode">
        rotation: {{ selectedNode.relativeRotation | toDegrees }}
      </div>
    </div>
    <div class="top-right-panel panel">
      <div class="action-buttons">
        <div class="action-button"
          [class.selected]="currentTransformationMode === 'rotation'"
          (click)="selectMode('rotation')">R</div>
        <div class="action-button"
          [class.selected]="currentTransformationMode === 'translation'"
          (click)="selectMode('translation')">T</div>
        <div class="action-button"
          [class.selected]="currentTransformationMode === 'scale'"
          (click)="selectMode('scale')">S</div>
      </div>
    </div>
  </div>
</div>
<app-inspection-panel *ngIf="selectedNode" [currentMode]="currentTransformationMode" [node]="selectedNode"></app-inspection-panel>
<div class="actions">
  <input type="button" value="Translate" (click)="testTranslateWithTween()">
  <input type="button" value="Rotation" (click)="rotationWithTween()">
</div>
