<div class="main-container">
  <div class="canvas-container" #canvasContainer>
    <base-graph-item
      #itemComponent
      *ngFor="let item of items; let i = index"
      [pos]="i"
      [data]="item"
      [bounds]="bounds"
    ></base-graph-item>
    <div #canvasElement></div>
    <div class="bottom-left-panel">
      <select>
        <option value="transition">Transition</option>
        <option value="timer">Timer</option>
        <option value="trigger">Trigger</option>
      </select>
      <input type="button" value="Add">
    </div>
  </div>
</div>
<div class="actions">
  <input type="button" value="Save positions" (click)="savePositions()">
  <input type="button" value="Open modal" (click)="openTestModal()">
</div>