.state {
  display: inline-block;
  border-radius: 5px;
  padding: 4px;
  margin-right: 8px;
  width: 90px;
  text-align: center;
  vertical-align: top;

  &.basic {
    background-color: lightgreen;
    border: 1px solid green;
  }

  &.diff {
    background-color: lightsalmon;
    border: 1px solid red;
  }
}

input {
  margin-top: 5px;
}