.state {
  display: inline-block;
  background-color: lightgreen;
  border: 1px solid green;
  border-radius: 5px;
  padding: 4px;
  margin-right: 8px;
  width: 90px;
  text-align: center;
}

input {
  margin-top: 5px;
}