<div class="state {{ type }}">
  <div>Name: {{ state.name }}</div>
  <input type="button" value="Log value" (click)="logStateValue()">
  <input type="button" value="Set" (click)="setPosition()">
    &nbsp;<span class="toggle-set" (click)="toggleSetOptions()">+</span>
  <div [hidden]="!displaySetOptions">
    <select [(ngModel)]="currentSetDuration">
      <option *ngFor="let duration of setDurations; let i = index" value="{{ i }}">{{ duration }}</option>
    </select>
    <select [(ngModel)]="currentSetEasing">
      <option *ngFor="let easing of setEasings; let i = index" value="{{ i }}">{{ easing }}</option>
    </select>
  </div>
  <input type="button" value="Delete" (click)="deleteState()">

  <ng-container *ngIf="type === 'basic'">
    <input type="button" value="Diff with" (click)="diffTest()">
    <ng-container *ngIf="statesService.states">
      <select [(ngModel)]="selectedDiffStateId">
        <option *ngFor="let cstate of getDiffTargets(state)" value="{{ cstate.id }}">{{ cstate.name }}</option>
      </select>
    </ng-container>
  </ng-container>

  <input type="button" value="Details" (click)="editDetails()">
</div>